:host {
    display: block;
    background: #fff;
    border-radius: 0px;
    padding: 0 6px;
}

.actions{
    .aceptar{
        background-color: #2F7DE3;
        color: white;
    }
}

.text-style{
    font-size: 12px;
}